.row_grid_layout {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
  gap: 50px;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 35px;
}
.post_column_item {
  flex-basis: 30%;
}
.post_column_item h6 {
  margin: 0;
}
.post_column_item h3 {
  font-weight: 600;
  color: #656a81;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-top: 15px;
  min-height: 65px;
}
.post_column_item p {
  color: #474a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-height: 80px;
}
.author_date_container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.author_date_container h6 {
  font-weight: 400;
  font-size: 16px;
  color: #474a5a;
}
.author_date_container span {
  font-weight: 400;
  font-size: 16px;
  color: #474a5a;
}
a.post_article_link {
  font-weight: 500;
  color: #3d6ade;
  font-size: 18px;
}
a.post_article_link:hover {
  color: #29499d;
}
a.post_article_link::after {
  content: url("/arrow_right.svg");
  padding-left: 10px;
  vertical-align: middle;
}
